<!DOCTYPE html>
<html>
<head>
    <title>Hello Django</title>
    <style>
        body {
            background-color: #121212;
            color: #ffffff;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h1 {
            color: #1b9969;
        }
    </style>
</head>
<body>
    {% extends "header.html" %}
    {% block content %}
        <h1>Hello Django</h1>
    {% endblock %}
</body>
</html>