<!DOCTYPE html>
<html>
<head>
    <title>Projects Django</title>
    <style>
        body {
            background-color: #121212;
            color: #ffffff;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h1 {
            color: #1b9969;
        }

        .just_another_box {
            background: blue;
        }
    </style>
</head>
<body>
    {% extends "header.html" %}
    {% block content %}
    <h1>Projects</h1>
        {% for project in projects %}
        <div class="just_another_box">
            <h1> {{project.name}} </h1>
        </div>
        {% endfor %}
    {% endblock %}
</body>
</html>